@model List<project_management_system.Models.Projects.ViewModels.ProjectDetailsViewModel>

@{
    List<string> myList = new List<string>() { "Hi", "Hello" };
}

<h1>Projects And Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Project Title                 
            </th>
            <th>
                Created By
            </th>
            <th>
                Operation
            </th>
            <th>
                Tasks
            </th>          
        </tr>
    </thead>
    <tbody>
    @foreach (ProjectDetailsViewModel projectDetails in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => projectDetails.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => projectDetails.CreatedByName)
            </td>
            <td>
                <a asp-action="NewTask" asp-route-id="@projectDetails.Id">Add Task</a>
            </td>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Task Title
                            </th>
                            <th>
                                Required Hours
                            </th>
                            <th>
                                Priorty
                            </th>
                            <th>
                                Completed
                            </th>
                            <th>
                                Operation
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (ProjectTask projectTask in projectDetails.ProjectTasks)
                            {
                                <td>
                                    @projectTask.Title
                                </td>  
                                <td>
                                    @projectTask.RequiredHours
                                </td>
                                <td>
                                    @projectTask.Priority
                                </td>
                                <td>
                                    @projectTask.Completed
                                </td>
                                <td>                    
                                    <form asp-action="AdjustRequiredHours" asp-route-id="@projectTask.Id" asp-route-NewRequiredhours="hours" method="post">
                                        <input type="number" name="NewRequiredhours"><br />
                                        <button>Adjust Hours</button>
                                     </form>
                                    <a asp-action="WatchingTask" asp-route-taskId="@projectTask.Id"><button>Watch</button></a>
                                    <form asp-action="MarkCompleted" asp-route-id="@projectTask.Id" method="post"><button>Mark As Completed</button></form> 
                                    <form asp-action="DeleteTask" asp-route-taskId="@projectTask.Id" method="post"><button>Delete Task</button></form>
                                </td>
                            }
                        </tr>                      
                    </tbody>
                </table>               
            </td>
            
        </tr>
    } 
    </tbody>
</table>

<button>Previous</button>
<button>Next</button>