@model IndexViewModel

@{
    List<string> myList = new List<string>() { "Hi", "Hello" };
}

<h1>Projects And Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Project Id
            </th>
            <th>
                Project Title                 
            </th>
            <th>
                Created By
            </th>
            @*<th>
                Created By Id
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">Created Date</a>
            </th>*@
            <th>
                Number Of Project Tasks
            </th>
            <th>
                Tasks
            </th>          
        </tr>
    </thead>
    <tbody>
    @foreach (ProjectDetailsViewModel projectDetails in Model.Projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => projectDetails.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => projectDetails.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => projectDetails.CreatedByName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => projectDetails.CreatedById)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => @projectDetails.NumberOfProjectTasks)
            </td>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Task Title
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["RequiredHoursSort"]">Required Hours</a>                  
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySort"]">Priorty</a>
                            </th>
                            <th>
                                Completed
                            </th>
                            <th>
                                Operation
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (ProjectTask projectTask in projectDetails.ProjectTasks)
                            {
                                <td>
                                    @projectTask.Title
                                </td>  
                                <td>
                                    @projectTask.RequiredHours
                                </td>
                                <td>
                                    @projectTask.Priority
                                </td>
                                <td>
                                    @projectTask.Completed
                                </td>
                                <td>
                                    <input type="number" name="hours">
                                    <a asp-action="WatchingTask" asp-route-taskId="@projectTask.Id">Watch</a>
                                    <a asp-action="AdjustRequiredHours" asp-route-id="@projectTask.Id" asp-route-NewRequiredhours="hours">Adjust Hours</a> |
                                    <a asp-action="MarkCompleted" asp-route-id="@projectTask.Id">Mark As Completed</a>           
                                </td>
                            }
                        </tr>                      
                    </tbody>
                </table>               
            </td>

        </tr>
    } 
    </tbody>
</table>
