@model IndexViewModel;

<h1>Users</h1>

<p>Serial | First name | Last name | Username | Email</p>

@for (int index = 0; index < Model.Users.Count; index++)
{
    UserDetailsViewModel user = Model.Users[index];

    <p>@(index + 1) | @user.FirstName | @user.LastName | @user.Username | @user.Email</p>
}
